{% extends '../base.html' %}

{% load static %}

{% block title %}

	 Управление улицами

{% endblock title %}

{% block content %}

	{% block header %}

		{% include './includes/header-2.html' %}

	{% endblock header %}

	<main>
		<section class="text-gray-600 body-font">
			<div class="flex mx-auto flex-wrap mb-4">
				<a
					class="px-6 w-auto justify-center text-sm font-medium inline-flex items-center leading-none border-gray-200 hover:text-gray-900 hover:bg-gray-100 tracking-wider transition-all ease-in-out"
					href="{% url 'control-users' %}"
				>
					Пользователи
				</a>
				<a
					class="px-6 w-auto justify-center text-sm font-medium inline-flex items-center leading-none border-gray-200 hover:text-gray-900 hover:bg-gray-100 tracking-wider transition-all ease-in-out"
					href="{% url 'control-posts' %}"
				>
					Должности
				</a>
				<a
					class="px-6 w-auto justify-center text-sm font-medium inline-flex items-center leading-none border-gray-200 hover:text-gray-900 hover:bg-gray-100 tracking-wider transition-all ease-in-out"
					href="{% url 'control-trainings' %}"
				>
					Обучения
				</a>
				<a
					class="px-6 w-auto justify-center text-sm font-medium inline-flex items-center leading-none border-gray-200 hover:text-gray-900 hover:bg-gray-100 tracking-wider transition-all ease-in-out"
					href="{% url 'control-drivings' %}"
				>
					Вождения
				</a>
				<a
					class="px-6 w-auto justify-center text-sm font-medium inline-flex items-center leading-none border-gray-200 hover:text-gray-900 hover:bg-gray-100 tracking-wider transition-all ease-in-out"
					href="{% url 'control-courses' %}"
				>
					Курсы
				</a>
				<a
					class="px-6 w-auto justify-center text-sm font-medium inline-flex items-center leading-none border-gray-200 hover:text-gray-900 hover:bg-gray-100 tracking-wider transition-all ease-in-out"
					href="{% url 'control-disciplines' %}"
				>
					Дисциплины
				</a>
				<a
					class="px-6 w-auto justify-center text-sm font-medium inline-flex items-center leading-none border-gray-200 hover:text-gray-900 hover:bg-gray-100 tracking-wider transition-all ease-in-out"
					href="{% url 'control-categories' %}"
				>
					Категории
				</a>
				<a
					class="px-6 w-auto justify-center text-sm font-medium inline-flex items-center leading-none border-gray-200 hover:text-gray-900 hover:bg-gray-100 tracking-wider transition-all ease-in-out"
					href="{% url 'control-autos' %}"
				>
					Автомобили
				</a>
				<a
					class="px-6 w-auto justify-center text-sm font-medium inline-flex items-center leading-none border-gray-200 hover:text-gray-900 hover:bg-gray-100 tracking-wider transition-all ease-in-out"
					href="{% url 'control-regions' %}"
				>
					Регионы
				</a>
				<a
					class="px-6 w-auto justify-center text-sm font-medium inline-flex items-center leading-none border-gray-200 hover:text-gray-900 hover:bg-gray-100 tracking-wider transition-all ease-in-out"
					href="{% url 'control-cities' %}"
				>
					Города
				</a>
				<a
					class="w-auto justify-center border-t text-sm px-6 font-medium inline-flex items-center leading-none border-red-500 text-red-500 tracking-wider py-3"
				>
					Улицы
				</a>
			</div>
			<div class="grid grid-cols-4">
				<div class="col-span-1 w-full px-4">
					<form
						method="POST"
						action="/control/street/new/"
						class="w-full items-center p-4 bg-gray-100 grid items-center justify-center gap-4"
					>
						{% csrf_token %} {{ form.as_div }}
						<button
						class='px-4 rounded-md hover:bg-red-600 py-2.5 text-sm font-medium bg-red-500 text-white'
							type="submit"
						>
							Добавить
						</button>
						{% if message %}
							<div class='w-full mt-2 text-center p-4 bg-red-100 text-red-600'><p>{{message}}</p></div>
						{% endif %}
					</form>
				</div>
				<div class="col-span-3 pr-4 w-full">
					<table class="table-auto w-full">
						<thead class="text-gray-900 w-full font-medium text-sm bg-gray-100">
							<tr class="w-full">
								<th class="px-4 py-2 w-min">#</th>
								<th class="px-4 py-2 w-min">Название</th>
								<th class="px-4 py-2 w-min"></th>
							</tr>
						</thead>
						<tbody class="text-gray-700 text-sm overflow-y-auto">
							{% for item in streets %}
							<tr>
								<td class="px-4 py-2 text-center">{{item.id}}</td>
								<td class="px-4 py-2 text-center">{{item.name}}</td>
								<td class="px-2 py-2 flex items-center justify-center gap-2 border-l">
									<a
										class="px-2 py-2 rounded-md inline-flex items-center bg-blue-300 hover:bg-blue-400 justify-center ease-in-out transition-all"
										href="{% url 'update-street' item.id %}"
										title="Редактировать"
									>
										<img class="w-4 h-auto text-white" src="{% static 'icons/edit.svg' %}" />
									</a>
									<a
										class="px-2 py-2 rounded-md inline-flex items-center bg-red-300 hover:bg-red-400 justify-center ease-in-out transition-all"
										href="{% url 'remove-street' item.id %}"
										title="Удалить"
									>
										<img class="w-4 h-auto" src="{% static 'icons/trash.svg' %}" />
									</a>
								</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</section>
	</main>

{% endblock content %}
