{% extends '../base.html' %} {% load static %} {% block title %} Личный кабинет
{% endblock title %} {% block content %}

<header class="text-gray-600 body-font border-b">
  <div class="flex flex-wrap p-5 flex-col md:flex-row items-center">
    <a
      class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0"
    >
      <span class="text-xl">Tailblocks</span>
    </a>
    <nav
      class="md:ml-auto flex flex-wrap items-center text-base justify-center"
    >
      <a
        class="mr-5 cursor-pointer hover:text-gray-900"
        href="{% url 'profile' %}"
      >
        Карточка
      </a>
      <a
        class="mr-5 cursor-pointer hover:text-gray-900"
        href="{% url 'control' %}"
      >
        Управление
      </a>
    </nav>
    <a
      class="inline-flex items-center bg-gray-100 border-0 py-1 px-3 focus:outline-none hover:bg-gray-200 rounded text-base mt-4 md:mt-0"
      href="{% url 'logout' %}"
    >
      Выход
      <svg
        fill="none"
        stroke="currentColor"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        class="w-4 h-4 ml-1"
        viewBox="0 0 24 24"
      >
        <path d="M5 12h14M12 5l7 7-7 7"></path>
      </svg>
    </a>
  </div>
</header>
<main>
  <section class="text-gray-600 body-font">
    <div class="flex mx-auto flex-wrap mb-4">
      <a
        class="px-6 w-auto justify-center text-sm font-medium inline-flex items-center leading-none border-gray-200 hover:text-gray-900 hover:bg-gray-100 tracking-wider transition-all ease-in-out"
        href="{% url 'control-users' %}"
      >
        Пользователи
      </a>
      <a
      class="px-6 w-auto justify-center text-sm font-medium inline-flex items-center leading-none border-gray-200 hover:text-gray-900 hover:bg-gray-100 tracking-wider transition-all ease-in-out"
        href="{% url 'control-posts' %}"
        >
        Должности
      </a>
      <a
      class="w-auto justify-center border-t text-sm px-6 font-medium inline-flex items-center leading-none border-red-500 text-red-500 tracking-wider py-3"
        href="{% url 'control-trainings' %}"
      >
        Обучения
      </a>
      <a
        class="px-6 w-auto justify-center text-sm font-medium inline-flex items-center leading-none border-gray-200 hover:text-gray-900 hover:bg-gray-100 tracking-wider transition-all ease-in-out"
        href="{% url 'control-drivings' %}"
      >
        Вождения
      </a>
      <a
        class="px-6 w-auto justify-center text-sm font-medium inline-flex items-center leading-none border-gray-200 hover:text-gray-900 hover:bg-gray-100 tracking-wider transition-all ease-in-out"
        href="{% url 'control-courses' %}"
      >
        Курсы
      </a>
      <a
        class="px-6 w-auto justify-center text-sm font-medium inline-flex items-center leading-none border-gray-200 hover:text-gray-900 hover:bg-gray-100 tracking-wider transition-all ease-in-out"
        href="{% url 'control-disciplines' %}"
      >
        Дисциплины
      </a>
      <a
        class="px-6 w-auto justify-center text-sm font-medium inline-flex items-center leading-none border-gray-200 hover:text-gray-900 hover:bg-gray-100 tracking-wider transition-all ease-in-out"
        href="{% url 'control-categories' %}"
      >
        Категории
      </a>
      <a
        class="px-6 w-auto justify-center text-sm font-medium inline-flex items-center leading-none border-gray-200 hover:text-gray-900 hover:bg-gray-100 tracking-wider transition-all ease-in-out"
        href="{% url 'control-autos' %}"
      >
        Автомобили
      </a>
      <a
        class="px-6 w-auto justify-center text-sm font-medium inline-flex items-center leading-none border-gray-200 hover:text-gray-900 hover:bg-gray-100 tracking-wider transition-all ease-in-out"
        href="{% url 'control-regions' %}"
      >
        Регионы
      </a>
      <a
        class="px-6 w-auto justify-center text-sm font-medium inline-flex items-center leading-none border-gray-200 hover:text-gray-900 hover:bg-gray-100 tracking-wider transition-all ease-in-out"
        href="{% url 'control-cities' %}"
      >
        Города
      </a>
      <a
        class="px-6 w-auto justify-center text-sm font-medium inline-flex items-center leading-none border-gray-200 hover:text-gray-900 hover:bg-gray-100 tracking-wider transition-all ease-in-out"
        href="{% url 'control-streets' %}"
      >
        Улицы
      </a>
    </div>
    <div class="grid grid-cols-4">
      <div class="col-span-1 w-full px-4">
        <form
          method="POST"
          action="/control/training/new/"
          class="w-full items-center p-4 bg-gray-100 grid grid-cols-2 items-center justify-center gap-4"
        >
          {% csrf_token %} {{ form.as_div }}
          <button
            class="text-white bg-red-500 border-0 col-span-2 font-medium py-3 px-5 ease-in-out transition-all focus:outline-none hover:bg-red-600 rounded-md"
            type="submit"
          >
            Добавить
          </button>
        </form>
      </div>
      <div class="col-span-3 pr-4 w-full">
        <table class="table-auto w-full">
          <thead class="text-gray-900 w-full font-medium text-sm bg-gray-100">
            <tr class="w-full">
              <th class="px-4 py-2 w-min">#</th>
              <th class="w-auto px-4 py-2">Курсант</th>
              <th class="w-auto px-4 py-2">Курс</th>
              <th class="w-auto px-4 py-2">Договор #</th>
              <th class="w-auto px-4 py-2">Дата договора</th>
              <th class="w-auto px-4 py-2">Свидетельство</th>
              <th class="w-auto px-4 py-2">Дата зачисления</th>
              <th class="w-auto px-4 py-2">Стоимость</th>
              <th class="w-auto px-4 py-2">Статус оплаты</th>
              <th class="w-auto px-4 py-2"></th>
          </tr>
        </thead>
        <tbody class="text-gray-700 text-sm overflow-y-auto">
          {% for item in trainings %}
          <tr>
              <td class="px-4 py-2 text-center">{{item.id}}</td>
              <td class="px-4 py-2 text-center">{{item.id_cursant}}</td>
              <td class="px-4 py-2 text-center">{{item.id_course}}</td>
              <td class="px-4 py-2 text-center">{{item.agreement_number}}</td>
              <td class="px-4 py-2 text-center">{{item.date_agreement}}</td>
              <td class="px-4 py-2 text-center">{{item.certificate}}</td>
              <td class="px-4 py-2 text-center">{{item.date_record}}</td>
              <td class="px-4 py-2 text-center">{{item.price}}</td>
              <td class="px-4 py-2 text-center">{{item.payment_status}}</td>
              <td class="px-2 py-2 flex items-center justify-center gap-2 border-l">
                <a
                class="px-2 py-2 rounded-md inline-flex items-center bg-blue-300 hover:bg-blue-400 justify-center ease-in-out transition-all"
                  href='{% url "update-training" item.id %}' title='Редактировать'
                >
                  <img
                    class="w-4 h-auto text-white"
                    src="{% static 'icons/edit.svg' %}"
                  />
                </a>
                <a
                  class="px-2 py-2 rounded-md inline-flex items-center bg-red-300 hover:bg-red-400 justify-center ease-in-out transition-all"
                  href='{% url "remove-training" item.id %}' title='Удалить'
                >
                  <img
                    class="w-4 h-auto"
                    src="{% static 'icons/trash.svg' %}"
                  />
                </a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </section>
</main>

{% endblock content %}
