{% extends '../base.html' %} {% load static %} {% block title %} Личный кабинет
{% endblock title %} {% block content %}

<header class="text-gray-600 body-font border-b">
    <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
        <a class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
            <span class="text-xl">Tailblocks</span>
        </a>
        <nav class="md:ml-auto flex flex-wrap items-center text-base justify-center">
            <a class="mr-5 cursor-pointer hover:text-gray-900" href="{% url 'profile' %}"> Карточка </a>
            <a class="mr-5 cursor-pointer hover:text-gray-900" href="{% url 'schedule' %}"> Расписание </a>
        </nav>
        <a class="inline-flex items-center bg-gray-100 border-0 py-1 px-3 focus:outline-none hover:bg-gray-200 rounded text-base mt-4 md:mt-0"
        href="{% url 'logout' %}">
            Выход
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-1" viewBox="0 0 24 24">
                <path d="M5 12h14M12 5l7 7-7 7"></path>
            </svg>
        </a>
    </div>
</header>
<main class='flex flex-col w-max mx-auto'>
    <section class="text-gray-600 body-font">
        <div class="container mx-auto items-center justify-center h-full flex flex-col">
            <div class="flex flex-col items-center sm:flex-row mt-10">
                <div class="text-center sm:pr-8 sm:py-8">
                    <div class="w-44 h-44 rounded-md inline-flex items-center justify-center bg-gray-200 text-gray-400">
                        <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-20 h-20"
                        viewBox="0 0 24 24">
                            <path d="M20 21v-2a4 4 0 00-4-4H8a4 4 0 00-4 4v2"></path>
                            <circle cx="12" cy="7" r="4"></circle>
                        </svg>
                    </div>
                    <div class="flex flex-col items-center text-center justify-center">
                        <h2 class="font-medium title-font mt-4 text-gray-900 text-lg"> {{user.username}}</h2>
                        <div class="w-44 h-1 bg-red-500 rounded mt-2 mb-4"></div>
                        <p class="text-base">Курсант</p>
                    </div>
                </div>
                <div class="sm:pl-8 sm:py-8 sm:border-l border-gray-200 sm:border-t-0 border-t mt-4 pt-4 sm:mt-0 text-center sm:text-left">
                    <div class="flex gap-8 justify-between h-full">
                        <div>
                            <p class="font-medium title-font text-gray-900 mb-2">
                                Предстоящие занятия
                            </p>
                            <div class="w-22 h-0.5 bg-red-500 rounded mt-2 mb-4"></div>
                            <table class="table-auto text-sm">
                                <thead class='text-gray-900'>
                                <tr>
                                    <th class='py-2 pr-4 font-medium'>Инструктор</th>
                                    <th class='py-2 pr-4 font-medium'>Дисциплина</th>
                                    <th class='py-2 pr-4 font-medium'>Дата</th>
                                    <th class='py-2 pr-4 font-medium'>Время</th>
                                    <th class='py-2 font-medium'></th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for s in schedule %}
                                <tr>
                                    <td class='py-2 pr-4'>{{s.id_worker}}</td>
                                    <td class='py-2 pr-4'> {{s.id_discipline}}</td>
                                    <td class='py-2 pr-4'> {{s.date_class}}</td>
                                    <td class='py-2'> {{s.time_class}}</td>
                                    <td>
                                        <a class='text-red-500 text-sm font-medium py-2 px-3 hover:text-red-600' href='{% url 'remove-schedule' s.id %}'>Удалить</a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="text-gray-600 body-font">
    <div class="container px-5 py-24 mx-auto">
        <form method="POST" action='' class="flex lg:w-2/3 w-full sm:flex-row flex-col mx-auto px-8 sm:space-x-4 sm:space-y-0 space-y-4 sm:px-0 items-end">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="relative flex-grow w-full">
                <label for="id_worker" class="leading-7 text-sm text-gray-600">Инструктор</label>
                <select type="text" id="id_worker" name="id_worker" class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-red-500 focus:bg-transparent focus:ring-2 focus:ring-red-200 text-base outline-none text-gray-700 py-1 px-3 leading-6 transition-colors duration-200 ease-in-out">
                    <option value="" selected>---------</option>
                    <option value="1">admin</option>
                </select>
            </div>
            <div class="relative flex-grow w-full">
                <label for="id_discipline" class="leading-7 text-sm text-gray-600">Дисциплина</label>
                <select type="text" id="id_discipline" name="id_discipline" class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-red-500 focus:bg-transparent focus:ring-2 focus:ring-red-200 text-base outline-none text-gray-700 py-1 px-3 leading-6 transition-colors duration-200 ease-in-out">
                      <option value="" selected>---------</option>
                      <option value="1">Практическое вождение</option>
                </select>
            </div>
            <div class="relative flex-grow w-full">
                <label for="id_date_class" class="leading-7 text-sm text-gray-600">Дата</label>
                <input type="date" id="id_date_class" name="date_class" class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-red-500 focus:bg-transparent focus:ring-2 focus:ring-red-200 text-base outline-none text-gray-700 py-1 px-3 leading-6 transition-colors duration-200 ease-in-out">
            </div>
            <div class="relative flex-grow w-full">
                <label for="id_time_class" class="leading-7 text-sm text-gray-600">Время</label>
                <input type="time" id="id_time_class" required name="time_class" class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-red-500 focus:bg-transparent focus:ring-2 focus:ring-red-200 text-base outline-none text-gray-700 py-1 px-3 leading-6 transition-colors duration-200 ease-in-out">
            </div>
             <button class="text-white bg-red-500 border-0 text-sm font-medium py-2 px-4 focus:outline-none hover:bg-red-600 rounded">Добавить</button>
        </div>
    </div>
</section>
</main>

{% endblock content %}
